.profile__button-add {
  width: 150px;
  height: 50px;
  border: 2px solid #FFFFFF;
  background-color: transparent;
  cursor: pointer;
  background-image: url("../../../images/plus.svg");
  background-repeat: no-repeat;
  background-size: 22px 22px;
  background-position: center;
  border-radius: 2px;
  transition: opacity .08s ease-out;
  flex-shrink: 0;
}

.profile__button-add:hover {
  opacity: .6;
}


@media screen and (max-width: 560px) {
  .profile__button-add {
    width: 282px;
    background-size: 16px 16px;
  }
}
