.popup__close {
  width: 32px;
  height: 32px;
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  background-image: url("../../../images/close-icon.svg");
  background-repeat: no-repeat;
  background-size: 32px 32px;
  background-position: center;
  position: absolute;
  top: -40px;
  right: -40px;
  transition: opacity .08s ease-out;
}

.popup__close:hover {
  opacity: .6;
}

@media screen and (max-width: 720px) {
  .popup__close {
    width: 20px;
    height: 20px;
    background-size: 20px 20px;
    right: 0;
    top: calc(-16px - 20px);
  }
}
