.header__button-hide {
  display: none;
}

@media screen and (max-width: 560px) {
  .header__button-hide {
    display: block;
    margin-right: 30px;
    width: 24px;
    height: 24px;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    background-image: url("../../../images/menu-icon.svg");
    background-repeat: no-repeat;
    background-size: 24px 18px;
    background-position: center;
    padding: 0;
    transition: opacity .08s ease-out;
  }
}

.header__button-hide:hover {
  opacity: .6;
}
