.element__delete {
  width: 18px;
  height: 19px;
  background-image: url("../../../images/trash.svg");
  background-repeat: no-repeat;
  background-position: center;
  padding: 0;
  transition: opacity .08s ease-out;
  background-size: 18px 19px;
  cursor: pointer;
  background-color: transparent;
  border: none;
  position: absolute;
  top: 20px;
  right: 20px;
}

.element__delete:hover {
  opacity: .6;
}
