.popup__input {
  border: none;
  font-family: inherit;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  padding-bottom: 9px;
  padding-top: 9px;
  font-size: 14px;
  line-height: 17px;
  /* margin-top: 21px; */
  margin-bottom: 21px;
}
