.header {
  max-width: 880px;
  min-height: 74px;
  margin: 0 auto;
  padding-top: 45px;
  border-bottom: 1px solid rgba(84, 84, 84, .7);
  width: 100%;
}

@media screen and (max-width: 935px) {
  .header {
    padding-top: 28px;
    min-height: 56px;
  }
}
